.projects {
  margin-top: 0vw;
  max-width: 100%;
  min-height: 70vw;
  padding: 5vw;
  padding-top: 8vw;
  display: grid;
  grid-template-columns: repeat(2, minmax(42%, 42%));
  justify-content: center;
  gap: 6vw;
}

.projects-dark {
  background-color: #3c3c49;
}

@media screen and (max-width: 960px) {
  .projects {
    min-height: 250vw;
    display: grid;
    grid-template-columns: repeat(1, minmax(106%, 106%));
    grid-template-rows: 70vw 70vw 70vw 70vw 70vw;
    justify-content: center;
    gap: 0vw;
  }
}
