* {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 46vw;
}

/*CONTENEDOR TEXTO*/
.contenedor1 {
  padding-top: 12vw;
  background-color: #272733;
  height: 46vw;
}

.hero-text {
  font-family: Libre Baskervill;
  margin-left: 2vw;
}

.hero-title {
  font-size: 6vw;
  font-weight: 700;
  color: #bffa37;
}

.hero-title2 {
  opacity: -5;
}

.hero-subtitle {
  font-size: 3vw;
  color: white;
}

/*CONTENEDOR IMAGEN*/
.contenedor2 {
  padding-top: 0vw;
  height: 46vw;
}
.hero-image {
  width: 25vw;
  position: absolute;
  border-radius: 50%;
  margin-left: -13vw;
  margin-top: 4vw;
}

.hero-image1 {
  opacity: 0;
}

.div-img {
  opacity: 0;
}

/* DESCARGAR */

.descargar {
  width: 12vw;
  margin-top: 3.5vw;
  margin-left: 2vw;
}

.btn-descargar {
  width: 12vw;
  font-size: 1.5vw;
}

/* LENGUAJE */

.language-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2000;
  padding-right: 1vw;
}

.language-btn {
  border: none;
  width: 4vw;
  height: 4vw;
  padding: 0%;

  z-index: 2000;
  background-color: rgba(0, 0, 255, 0);
}

.ic-language {
  padding: 0%;

  width: 3vw;
  height: 3vw;
}

/*RESPONSIVE*/
@media screen and (max-width: 991px) {
  /*CONTENEDOR TEXTO*/
  .hero {
    max-width: 100%;
  }

  .contenedor1 {
    padding-top: 5vw;
    width: 100%;
    height: 80vw;
  }

  .hero-text {
    width: 90%;
    font-family: Libre Baskervill, monospace sans-serif;
    text-align: center;
    margin-top: 10vw;
    margin-left: 5.5vw;
  }

  .hero-title {
    opacity: -5;
  }

  .hero-title2 {
    font-size: 7vw;
    font-weight: 700;
    color: white;
    opacity: 3;
  }
  .hero-subtitle {
    font-size: 5vw;
    margin-top: 5vw;
  }

  /*CONTENEDOR IMAGEN*/
  .contenedor2 {
    min-width: 100%;
    min-height: 65vw;
    display: flex;
    justify-content: center;
    padding-top: -1vw;
    padding: auto;
    margin-left: 7vw;
    margin-bottom: 15vw;
  }
  .contenedor2 .hero-image {
    width: 1vw;
    height: 1vw;
    position: relative;
    opacity: -2;
  }
  .div-img {
    opacity: 1;
    background-color: #272733;
    width: 60vw;
    height: 60vw;
    margin: auto;
    margin-top: 15vw;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  .hero-image1 {
    width: 63vw;
    height: 63vw;
    display: flex;
    margin-top: -2.95vw;
    margin-left: -2vw;
    opacity: 1;
    border-radius: 54%;
  }

  .descargar {
    margin: 0vw;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-descargar {
    width: 34vw;
    font-size: 4vw;
    font-weight: 700;
    margin-top: 4.5vw;
    color: #bffa37;
  }

  /* LENGUAJE */

  .language-btn-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    z-index: 2000;
    padding-right: 1vw;
    position: absolute;
    top: 1.8vw;
  }

  .ic-language {
    width: 9vw;
    height: 9vw;
  }
}
