.navBar {
  position: absolute;
  min-width: 99%;
  display: flex;
  align-items: flex-end;
  z-index: 5;
  margin-left: 1vw;
}

.container-fluid {
  margin-top: 4vw;
  font-size: 1.7vw;
  position: fixed;
}

.navbar-toggler {
  border: none;
  border-radius: 20%;
  padding: 0%;
  font-size: 2vw;
  width: 3vw;
  height: 3vw;
}

.navbar-toggler-icon {
  background-color: #bffa37c7;
  border-radius: 20%;
}

.navbar-nav {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5%;
  margin-top: 1vw;
  width: 12vw;
  padding-left: 2vw;
}

.nav-link {
  transition: 0.3s;
}
.nav-link:hover {
  transition: 0.3s;
  padding-left: 0.7vw;
  padding-right: -0.5vw;
  font-weight: 700;
}

/*RESPONSIVE*/
@media screen and (max-width: 991px) {
  .container-fluid {
    margin-top: 8vw;
    font-size: 4vw;
    position: fixed;
  }

  .navbar-nav {
    width: auto;
    padding-right: 2vw;
  }
  .navbar-toggler {
    font-size: 4vw;
    width: 6vw;
    height: 5.85vw;
  }

  .nav-item {
    margin-top: 1vw;
  }

  .nav-link {
    padding: 0%;
  }
}
